$yellow: #fffa00;
$brown: rgb(119, 102, 73);
$gray: rgb(234, 233, 233);

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin breadcrumb($background, $padding){
    background-color: $background;
    padding: $padding;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    height: 12em;
    align-content: center;
    text-align: center;
    @include margenes(56px,10px);
}

.btn{
    background-color: $brown;
    color: white;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px,0px);
}

.card-hotel{
    flex: 1 300px;
    padding: 2px 5px 2px 5px;
    @include margenes(20px,0px);
}

.card-hotel .btn{
    width: 100%;
}

.footer-address-icon{
    padding-right: 10px;
}

.breadcrumb{
    @include breadcrumb($gray,10px);
}
.tab-content{
    padding-top: 10px;
}